body {
margin:0;
font-family:'Poppins',sans-serif;
background:#050816;
color:#e2e8f0;
transition:0.3s;
}

/* LIGHT MODE */
body.light {
background:#ffffff;
color:#000;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:linear-gradient(90deg,#4c1d95,#7c3aed);
color:white;
}

/* HERO */
.hero{
height:60vh;
background:url('https://images.unsplash.com/photo-1550751827-4bd374c3f58b') center/cover;
display:flex;
align-items:center;
justify-content:center;
}

.overlay{
background:rgba(0,0,0,0.7);
padding:30px;
text-align:center;
}

/* CARDS */
.card{
background:rgba(255,255,255,0.05);
padding:25px;
margin:20px 0;
border-radius:12px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 0 20px rgba(168,85,247,0.5);
}

h2{
color:#a855f7;
}

h3{
color:#22c55e;
}

/* TABLE */
table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

th,td{
border:1px solid #333;
padding:10px;
text-align:center;
}

/* FOOTER */
footer{
background:url('https://images.unsplash.com/photo-1518770660439-4636190af475') center/cover;
text-align:center;
padding:20px;
}
